<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading"> <!--it gives us access to the form object-->
      <mat-form-field>
          <input
           matInput type="text"
            name="title"
            [ngModel]="post?.title"
            required
            placeholder="Post Title"
            #title="ngModel">  <!--ngModel registers this input field as a control to the form-->
          <mat-error *ngIf="title.invalid">Please, enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea
            matInput
            rows="4"
            name="content"
            [ngModel]="post?.content"
            required
            placeholder="Post Content"
            #content="ngModel">
          </textarea>
            <mat-error *ngIf="content.invalid">Please, enter content</mat-error>
        </mat-form-field>
        <button
           mat-raised-button
           color="accent"
           type="submit">Save Post</button>
  </form>

</mat-card>

